SHOPLINE_STORE_HANDLE=
SHOPLINE_ACCESS_TOKEN=
SHOPLINE_DOCTOR_PAGE_ID=
SHOPLINE_INFO_PAGE_ID=

GOOGLE_SERVICE_ACCOUNT_JSON=service_account.json
GOOGLE_LOCATION_NAME=accounts/ACCOUNT_ID/locations/LOCATION_ID

META_PAGE_ID=
META_PAGE_ACCESS_TOKEN=
META_IG_USER_ID=
